/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

## Master Keys for Encryption of files
master.key
/master.key

settings.yaml

# rspec failure tracking
.rspec_status

# VCR Log Testing
/vcr.log
/tape_library.log
